{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
{% endblock %}

{% block content %}
<div id="map" class="dark-map"></div>

<div class="search-panel">
    <div class="controls">
        <input type="text" id="searchInput" placeholder="Buscar banco...">
        <button onclick="updateLocation()">📍 Recarregar</button>
        <button onclick="toggleTheme()">🌓 Alternar Tema</button>
    </div>
    <div id="atm-list" style="margin-top: 15px; overflow-y: auto; height: 80%;"></div>
</div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='js/theme.js') }}"></script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}